<h1 class="my-5">Personajes Hogwarts</h1>


<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">Personaje:</th>
      <th scope="col">Locación:</th>
      <th scope="col">Casa:</th>
    </tr>
  </thead>
  <tbody>
  <% @characters.each do |a| %>
    <tr>
      <td><%= a.name%></td>
      <td><%= a.location%></td>
      <td><%= a.house %></td>
    </tr>
  <% end %>
  </tbody>
</table>